/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f7f5f0;
  color: #292824;
}
